* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
}

header {
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

header > a > img {
    width: 120px;
    display: block;
    object-fit: cover;
}

header > img {
    width: 120px;
    display: block;
    object-fit: cover;
}

header > .icons-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 36px;
}

header > .icons-header > a {
    cursor: pointer;
}

header > .icons-header > a > img {
    display: block;
    object-fit: cover;
}

#menu-toggle {
    display: none;
}

#menu-button {
    width: 120px;
    cursor: pointer;
}

.menu {
    position: fixed;
    top: 125px;
    left: -250px;
    width: 250px;
    background: lightblue;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 80px 20px;
    transition: 0.3s;
}

.menu.active {
    left: 0;
}

.menu a {
    color: white;
    text-decoration: none;
}

main>h2 {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.form > form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 36px;
    width: 70%;
    margin: auto;
}

.form > form .name,
.form > form .email,
.form > form .username,
.form > form .passwd,
.form > form .full-name,
.form > form .needed-services,
.form > form .message {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form > form .name > label,
.form > form .email > label,
.form > form .username > label,
.form > form .passwd > label,
.form > form .full-name > label,
.form > form .needed-services > label,
.form > form .message > label {
    font-size: 20px;
}

.form > form .name > input,
.form > form .email > input,
.form > form .username > input,
.form > form .passwd > input,
.form > form .full-name > input,
.form > form .needed-services > input,
.form > form .message > input,
.form > form .name > select,
.form > form .email > select,
.form > form .username > select,
.form > form .passwd > select,
.form > form .full-name > select,
.form > form .needed-services > select,
.form > form .message > select {
    padding: 10px;
}

.form > form .name > textarea,
.form > form .email > textarea,
.form > form .username > textarea,
.form > form .passwd > textarea,
.form > form .full-name > textarea,
.form > form .needed-services > textarea,
.form > form .message > textarea {
    height: 120px;
}

.form > form .name > a,
.form > form .email > a,
.form > form .username > a,
.form > form .passwd > a,
.form > form .full-name > a,
.form > form .needed-services > a,
.form > form .message > a {
    font-weight: 300;
    text-decoration: none;
    color: #7A00C7;
}

.form > form .name > a:hover,
.form > form .email > a:hover,
.form > form .username > a:hover,
.form > form .passwd > a:hover,
.form > form .full-name > a:hover,
.form > form .needed-services > a:hover,
.form > form .message > a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.form > form .phone {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form > form .phone > label {
    font-size: 20px;
}

.form > form .phone > input {
    padding: 10px;
}

.form > form .phone > .phone-wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

.form > form .phone > .phone-wrapper > select,
.form > form .phone > .phone-wrapper input {
    padding: 10px;
}

.form > form .phone > .phone-wrapper > input {
    flex: 1;
}

.form > form .login {
    background-color: #7A00C7;
    text-decoration: none;
    color: white;
    padding: 20px;
    width: 100%;
}

.form > form .login > p {
    text-align: center;
}

.last-added,
.top-seller,
.offers {
    margin: 50px 36px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
}

.last-added > h1#ultimos-lanzamientos,
.top-seller > h1#top-sellers,
.offers > h1#oferta{
    font-size: 20px;
    text-transform: uppercase;
}

.last-added > a > img,
.top-seller > a > img,
.offers > a > img {
    width: 100%;
}

.about-us {
    margin: 50px 36px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-us > h1#sobre-nosotros {
    font-size: 20px;
    text-transform: uppercase;
}

.about-us > p {
    font-size: 13px;
    font-weight: 300;
}

.about-us > a {
    text-decoration: none;
    color: #7A00C7;
}

.about-us > a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.contact-us {
    margin: 50px 36px;
}

.contact-us > a {
    color: #7A00C7;
}

.account-created {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    width: 60%;
    align-items: center;
    margin: auto;
    padding-top: 100px;
}

.account-created > img {
    width: 250px;
}

.account-created .confirmation-button {
    background-color: #7A00C7;
    text-decoration: none;
    color: white;
    padding: 20px;
}

.account-created .confirmation-button > p {
    text-align: center;
}

.product-display-container {
    margin: 0px 19px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-display-container > .product-images {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.product-display-container > .product-images > .main-image {
    width: 100%;
    border: 3px solid #BC2CFF;
    background-color: #8BE9FF;
}

.product-display-container > .product-images > .main-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.product-display-container > .product-images > .secondary-images {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 10px;
}

.product-display-container > .product-images > .secondary-images > .image {
    width: 20%;
    height: 100%;
    border: 3px solid #BC2CFF;
}

.product-display-container > .product-images > .secondary-images > .image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.product-display-container > .product-price {
    text-align: end;
}

.buttons-container {
    margin: 70px 36px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttons-container > .add-to-cart {
    background-color: #003547;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.buttons-container > .buy-now {
    background-color: #7A00C7;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.product-details-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0px 19px;
    margin-bottom: 70px;
}

.product-opinions-container {
    margin: 0px 19px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-opinions-container > .user-opinion {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.product-opinions-container > .user-opinion > .pfp_name_username {
    display: flex;
    gap: 10px;
}

.product-opinions-container > .user-opinion > .pfp_name_username > img {
    width: 20px;
}

.payment-form {
    margin: 0 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.payment-form > form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.payment-form > form > .full-name,
.payment-form > form .address,
.payment-form > form .post-code,
.payment-form > form .city,
.payment-form > form .province,
.payment-form > form .community,
.payment-form > form .phone,
.payment-form > form .mail {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.payment-form > form > .full-name > input,
.payment-form > form .address > input,
.payment-form > form .post-code > input,
.payment-form > form .city > input,
.payment-form > form .province > input,
.payment-form > form .community > input,
.payment-form > form .phone > input,
.payment-form > form .mail > input {
    padding: 8px;
}

.order-details {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 20px;
    margin-top: 60px;
}

.order-details > ul {
    padding-left: 20px;
}

.pay-method {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 20px;
    margin-top: 60px;
}

.pay-method > .pay-options {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 24px;
    border: 1px solid black;
    gap: 12px;
    justify-content: space-between;
    border-radius: 10px;
    align-items: stretch;
}

.pay-method > .pay-options > .vl {
    width: 1px;
    background-color: black;
}

.pay-method > .pay-options > img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.pay-method > .pay-options > a > img {
    width: 40px;
}

.pay-method > .card-form > form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pay-method > .card-form > form > .card-number {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pay-method > .card-form > form > .card-number > input {
    padding: 8px;
}

.pay-method > .card-form > form > .caducity_cvv {
    display: flex;
    justify-content: stretch;
    gap: 20px;
}

.pay-method > .card-form > form > .caducity_cvv > .caducity-date,
.pay-method > .card-form > form > .caducity_cvv > .cvv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    flex: 1;
}

.pay-method > .card-form > form > .caducity_cvv > .caducity-date > input,
.pay-method > .card-form > form > .caducity_cvv > .cvv > input {
    padding: 8px;
}

.confirm-payment {
    margin: 70px 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #7A00C7;
}

.confirm-payment > a {
    color: white;
    text-decoration: none;
}

.arrival {
    margin: 0 20px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.thank-you {
    margin: 0 20px;
    margin-top: 60px;
    text-align: center;
}

.keep-buying {
    margin: 0 20px;
    margin-top: 60px;
    background-color: #7A00C7;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

main > .search-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: space-between;
    margin: 40px 30px 0 30px;
}

main > .search-container > .filter-search {
    display: flex;
    flex-direction: column;
}

main > .search-container > .filter-search > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

main > .search-container > input {
    flex-grow: 1;
    padding: 10px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 20px;
}

main > .filters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #8BE9FF;
    border: 1px solid black;
    margin: 30px;
    gap: 16px;
    padding: 26px;
}

main > .filters > .filter {
    display: flex;
    gap: 8px;
    align-items: center;
}

main > .search-products-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 32px;
    margin: 70px 30px 0 30px;
}

main > .search-products-container > a {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-decoration: none;
    border: 1px solid black;
}

main > .search-products-container > a > img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

main > .search-products-container > a > p {
    text-align: center;
    color: black;
    font-size: 24px;
}

main > .search-products-container > a > p > span.precio {
    color: #7A00C7;
}

footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #8BE9FF;
    margin-top: 120px;
}

footer > .social-media {
    padding: 16px 90px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid black;
}

footer > .social-media > p {
    margin: auto;
}

footer > .social-media > .icons-social-media {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

footer > .contact {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-bottom: 1px solid black;
}

footer > .contact > p {
    margin: auto;
}

footer > .contact > .mail,
footer > .contact .phone {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

footer > .contact > .mail > a,
footer > .contact .phone > a {
    color: #7A00C7;
}

footer > .conditions {
    padding: 16px 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

footer > .conditions > a {
    color: #7A00C7;
}

footer > .copyright {
    padding: 16px 12px;
    margin: auto;
}

@media (min-width:600px) {}

@media (min-width:1024px) {}
