* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', sans-serif;
}

header {
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;

    >img {
        width: 120px;
        display: block;
        object-fit: cover;
    }

    >.icons-header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 36px;

        >a {
            cursor: pointer;

            >img {
                display: block;
                object-fit: cover;
            }
        }
    }
}

main>h2 {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.form {
    >form {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 36px;
        width: 70%;
        margin: auto;

        .username,
        .passwd {
            display: flex;
            flex-direction: column;
            gap: 12px;

            > label {
                font-size: 20px;
            }

            > input {
                padding: 10px;
            }

             >a {
                font-weight: 300;
                text-decoration: none;
                color: #7A00C7;
            }

            >a:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }

        .login, .createAccount {
            text-decoration: none;
            color:white;
            padding: 20px;
            width: 100%;

            > p {
                text-align: center;
            }
        }

        .login {
            background-color: #4E458C;
        }

        .createAccount {
            background-color: #7A00C7;
        }

        .createAccount-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }

}

footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #8BE9FF;
    margin-top: 150px;

    >.social-media {
        padding: 16px 90px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        border: 1px solid black;

        >p {
            margin: auto;
        }

        >.icons-social-media {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
        }
    }

    >.contact {
        padding: 16px 60px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        border-bottom: 1px solid black;

        >p {
            margin: auto;
        }

        >.mail,
        .phone {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;

            >a {
                text-align: center;
                font-weight: 300;
                text-decoration: none;
                color: #7A00C7;
            }

            >a:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    >.conditions {
        padding: 16px 12px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 36px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid black;

        >a {
            text-align: center;
            font-weight: 300;
            text-decoration: none;
            color: #7A00C7;
        }

        >a:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    >.copyright {
        padding: 16px 12px;
        margin: auto;
    }
}